/*
7D7D7D = button hover stage
505050 = header
333333 = Jet
B5B5BD = silver
FFFAF0 = cream white
DDBC75 = gold
C61D18 = crimson red
*/

/*body Styles*/
.container{
	display: block;
	margin-bottom: 50px;
	overflow: hidden;
	border-radius: 20px;
}
.Story {
	float: left;
	padding: 3px;
}
