/* Create a separate style sheet for header, body, and footer elements.*/

/*
7D7D7D = button hover stage
505050 = header
333333 = Jet
B5B5BD = silver
FFFAF0 = cream white
DDBC75 = gold
C61D18 = crimson red
*/

/*body Styles*/
/* Need some sudo selectors for link styles*/
body {
	background: #B5B5BD;
}
.container{
	display: block;
	/*background: #B5B5BD;*/
	margin-top: 15px;
	overflow: hidden;
}
.Story {
	float: left;
	padding: 30px;
}

h2 {
	font-size: 20px;
	margin-top: 5px;
}
h3 {
	font-size: 18px;
}

h4 {
	background: #a6853f;
	margin: 0;
}


/*Footer Styles*/
.footerWrapper{
	display: block;
	background: #B5B5BD;
	margin-top: 20px;
	overflow: hidden; 
}
.seoText{
	text-align: center;
	line-height: 18px;
	font-size: 12px;
	width: 950px;
}
