/*
7D7D7D = button hover stage
505050 = header
333333 = Jet
B5B5BD = silver
FFFAF0 = cream white
DDBC75 = gold
C61D18 = crimson red
*/

/*Footer Styles*/
.footerWrapper{
	display: block;
	background: #505050;
	margin-top: 20px;
	overflow: hidden; 
}

.seoText{
	display: block;
	text-align: center;
	line-height: 18px;
	font-size: 12px;
	width: 950px;
	margin: 0 auto;
}

.copyRight{
	font-size: 10px;
}

.footerAd{ /* fix positioning, this class is hacky as fuck */
	position: relative;
	left: 200px;
	width: 800px;
	margin: 0;
	padding: 0;
	text-align: center;
	background: #C61D18;
}