/* Create a separate style sheet for header, body, and footer elements.*/

/*Header Styles*/
h1 {
	margin: 0;
}
.headerWrapper{
	display: block;
	background: #B5B5BD;
}
.navMenu {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.headerNav {
	float: left;
	padding: 30px;
}

/*body Styles*/
/* Need some sudo selectors for link styles*/
body {
	background: #333333;
}
.container{
	display: block;
	/*background: #B5B5BD;*/
	margin-top: 15px;
	overflow: hidden;
}
.Story {
	float: left;
	padding: 30px;

.section{

}

}
h2 {
	font-size: 20px;
	margin-top: 5px;
}
h3 {
	font-size: 18px;
}

h4 {
	background: #a6853f;
	margin: 0;
}


/*Footer Styles*/
.footerWrapper{
	display: block;
	background: #B5B5BD;
	margin-top: 20px;
	overflow: hidden; 
}
.seoText{
	text-align: center;
	line-height: 18px;
	font-size: 12px;
	width: 950px;
}
