/* Create a separate style sheet for header, body, and footer elements.*/

/*
7D7D7D = button hover stage
505050 = header
333333 = Jet
B5B5BD = silver
FFFAF0 = cream white
DDBC75 = gold
C61D18 = crimson red
*/


/*Header Styles*/
h1 {
	margin: 0;
}

.btn{
	color: #DDBC75;
	text-decoration: none;
}
.headerNav:hover { 
	background: #7D7D7D;
}
.btn:hover{
	color: #3D3420;
}

.headerWrapper{
	display: block;
	background: #505050;
}
.navMenu {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.headerNav {
	background: #333333;
	float: left;
	padding: 5px;
	margin: 15px;
	list-style-type: none;
	border-radius: 20px;
}

/*body Styles*/
/* Need some sudo selectors for link styles*/
body {
	background: #B5B5BD;
}
.container{
	display: block;
	/*background: #B5B5BD;*/
	margin-top: 15px;
	overflow: hidden;
}
.Story {
	float: left;
	padding: 30px;

.section{

}

}
h2 {
	font-size: 20px;
	margin-top: 5px;
}
h3 {
	font-size: 18px;
}

h4 {
	background: #a6853f;
	margin: 0;
}


/*Footer Styles*/
.footerWrapper{
	display: block;
	background: #B5B5BD;
	margin-top: 20px;
	overflow: hidden; 
}
.seoText{
	text-align: center;
	line-height: 18px;
	font-size: 12px;
	width: 950px;
}
