/* Create a separate style sheet for header, body, and footer elements.*/

/*Header Styles*/
h1 {
	background: #a6853f;
	margin: 0;
}
.headerWrapper{
	display: block;
	background: #a6853f;
}
.navMenu {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#headerNav_1,
#headerNav_2,
#headerNav_3,
#headerNav_4,
#headerNav_5,
#headerNav_6,
#headerNav_7 {
	float: left;
	padding: 30px;
}

/*body Styles*/
body {
	background: #b5b5bd;
}
.container{
	display: block;
	background: #717ca8;
	margin-top: 20px;
	overflow: hidden;
}
.Story {
	float: left;
	padding: 30px;
}
h2 {
	background: #990033;
	margin: 0;
}
h3 {
	background: #93d58e;
	margin: 0;
}
h4 {
	background: #a6853f;
	margin: 0;
}


/*Footer Styles*/
.footerWrapper{
	display: block;
	background: #947dde;
	margin-top: 20px;
	overflow: hidden; 
}
.seoText{
	text-align: center;
	line-height: 18px;
	font-size: 12px;
	width: 950px;
}
