header {
	display: block;
	background-color: #ffffff;
	height: 100px;
}

ul {
	display: flex;
	justify-content: center;
	list-style: none;
}
li{
	padding: 25px;
}

.header-wrapper {
	display: flex;
}

.header-logo {
	display: flex;
}

.menu-nav{
	display: flex;
	margin-left: 25px;
	background-color: #252525;
	color: #ffffff;
}

.header-button {
	border-color: #252525;
}

.footer-wrapper{

}