body {
	background-color: #252525;
	margin: 0;
	padding: 0;
}
main{
	display: flex;
	flex-direction: column;
}

h1 {
	margin: auto;
	color: #ffffff;
}

h2 {
	background-color: #ffffff;
}

.header-wrapper{
	background-color: #343434;
	text-align: center;
	height: 50px;
}
	
.footer-wrapper{
	display: flex;
	float: left;
}



nav{
	display: inline-block;
	width: 700px;
}

.menu-nav{
	display: flex;
	justify-content: space-between;
	list-style: none;
	height: 25px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.nav-item{
	box-sizing: border-box;
	padding: 10px;
	flex: 1 1 100px;
}

.section-wrapper{
	display: flex;
	float: left;
	margin: auto;
}

.story-thumb{
	padding: 5px;
	max-width: 100%;
	height: auto;
}