body {
	display: block;
	font-family: sans-serif;
	background-color: #252525;
	margin: 0;
}

main {
	display: block;
	width: 1280px;
	margin: auto;
}

h1 {
	color: #ffffff;
	font-size: 1em;
}

h2 {
	color: #ffffff;
}

.nav-item{
	box-sizing: border-box;
	padding: 10px;
	flex: 1 1 100px;
}

.section-wrapper{
	display: flex;
	width: 1228.8px;
	height: 250px;
}

.story-thumb{
	display: inline-block;
	padding: 5px;
	max-width: 100%;
	height: auto;
	justify-content: left;
}