/* Index syles */
.site {
	display: grid;
	grid-template-columns: 0.1fr 1.9fr 1.9fr 0.1fr;
	grid-template-rows: 100px 1auto 1auto;
	grid-gap: 1em 1em;
	grid-template-areas:
		"Header Header Header Header"
		"Left-Side Content Content Right-Side"
		"Footer Footer Footer Footer";
		justify-content: center;
	color: white;
	background-color: #1a0000;
	font-family: helvetica, arial, sans-serif;
}


.header-container {
	grid-area: Header;
	background-color: #3d3d5c;
}

.body-container {
	grid-area: Content;
}
.container-listing {
	background-color: #002b80;
}

.footer-container {
	grid-area: Footer;
	background-color: #0099cc;
}



/*----------------------------------------------------------
CSS Grid Layout for modern browsers:
-----------------------------------------------------------*/

@supports (grid-area: auto) {


}